@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
  --color-heading: rgb(255, 121, 198);
  --color-accent: rgb(189, 147, 249);
  --color-primary: rgb(40, 42, 54);
  --color-secondary: rgb(55, 58, 89);
  --color-text: rgb(248, 248, 242);

  --font: 'Rubik', sans-serif;
  --mono: 'Fira Code', monospace;

  --alpha: 0.7;
}

p {
  margin: 1rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font);
}

h3 {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--mono);
  color: var(--color-heading);
  text-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px,
    rgba(240, 46, 170, 0.2) 6px 6px, rgba(240, 46, 170, 0.1) 8px 8px,
    rgba(240, 46, 170, 0.05) 10px 10px;
  animation: multiShadowTextSmall 0.35s;
}

h4 {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--mono);
  color: rgb(var(--rgbPink));
  text-shadow: rgba(240, 46, 170, 0.4) 2px 2px;
  margin: 0.5rem 0 1rem;
}

.list li {
  list-style: square;
  margin-left: 1rem;
}

.title {
  margin: 0 0 0.4rem;
  font-size: 72px;
  text-align: center;
  font-family: var(--mono);
  font-weight: 700;
  height: 100px;
  color: var(--color-heading);
  text-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
    rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  animation: multiShadowText;
  animation-duration: 0.35s;
}

.subtitle {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  min-height: 36px;
  font-family: var(--mono);
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  text-decoration: none;
  font-family: var(--mono);
  border: palevioletred 1px solid;
  cursor: pointer;
  box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px;
  background-color: #ff79c6;
  color: #383a59;
  padding: 0.2rem;
  animation: revHoverSplashSmall;
  animation-duration: 0.5s;
}

.button:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 5px;
  animation: hoverSplashSmall;
  animation-duration: 0.5s;
}

header {
  background-color: #383a59;
}

main {
  margin: 0 5rem 1rem;
  padding-bottom: 2rem;
  overflow: auto;
}

.spacer {
  height: 100px;
}

.image-mid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  border: #ff79c6 2px solid;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  animation: revHoverSplash;
  animation-duration: 0.7s;
}

.image-mid:hover {
  animation: hoverSplash;
  animation-duration: 0.7s;
  box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 5px;
  cursor: zoom-in;
}

.image-small {
  display: block;
  max-width: 80%;
  max-height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: #ff79c6 2px solid;
  box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px;
  animation: revHoverSplashSmall;
  animation-duration: 0.7s;
}

.image-small:hover {
  animation: hoverSplashSmall;
  animation-duration: 0.7s;
  box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 5px;
  cursor: zoom-in;
}

.image-same-size {
  height: 80% !important;
  width: 80% !important;
  object-fit: cover;
}

.code {
  background-color: black !important;
  color: white !important;
  transition: 0.5s;
  font-family: var(--mono);
}

.code:hover {
  box-shadow: none;
  transition: 0.5s;
}

/* Shapes & Animations */

.custom-shape-divider-top-1670842612 {
  margin-top: 0;
  padding-top: 0;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1670842612 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 67px;
}

.custom-shape-divider-top-1670842612 .shape-fill {
  fill: #383a59;
}

.custom-shape-divider-bottom-1670849682 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670849682 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
}

.custom-shape-divider-bottom-1670849682 .shape-fill {
  fill: #ff79c6;
}

@keyframes hoverSplash {
  0% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  50% {
    box-shadow: none;
  }
  75% {
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 7px;
  }
  100% {
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 5px;
  }
}

@keyframes hoverSplashSmall {
  0% {
    box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px;
  }
  50% {
    box-shadow: none;
  }
  75% {
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 7px;
  }
  100% {
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 5px;
  }
}

@keyframes revHoverSplash {
  0% {
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 5px;
  }
  50% {
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 7px;
  }
  75% {
    box-shadow: none;
  }
  100% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
}

@keyframes revHoverSplashSmall {
  0% {
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 5px;
  }
  50% {
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 0 7px;
  }
  75% {
    box-shadow: none;
  }
  100% {
    box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px;
  }
}

@keyframes multiShadowBox {
  0% {
    box-shadow: none;
  }
  20% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px;
  }
  40% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px;
  }
  60% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
  }
  80% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px;
  }
  100% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
}

@keyframes multiShadowText {
  0% {
    box-shadow: none;
  }
  20% {
    text-shadow: rgba(240, 46, 170, 0.4) 5px 5px;
  }
  40% {
    text-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px;
  }
  60% {
    text-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
  }
  80% {
    text-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px;
  }
  100% {
    text-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
}

@keyframes multiShadowTextSmall {
  0% {
    box-shadow: none;
  }
  20% {
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px;
  }
  40% {
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px,
      rgba(240, 46, 170, 0.3) 4px 4px;
  }
  60% {
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px,
      rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 6px 6px;
  }
  80% {
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px,
      rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 6px 6px,
      rgba(240, 46, 170, 0.1) 8px 8px;
  }
  100% {
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px,
      rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 6px 6px,
      rgba(240, 46, 170, 0.1) 8px 8px, rgba(240, 46, 170, 0.05) 10px 10px;
  }
}

/* Grids */
.grid-container {
  display: grid;
  gap: 2rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.grid-container div {
  border: #ff79c6 2px solid;
  box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px,
    rgba(240, 46, 170, 0.2) 6px 6px, rgba(240, 46, 170, 0.1) 8px 8px,
    rgba(240, 46, 170, 0.05) 10px 10px;
  background-color: #383a59;
  padding: 1rem;
}

.grid-item1 {
  grid-column: 1;
  grid-row: 1;
}

.grid-item2 {
  grid-column: 2;
  grid-row: 1;
}

.grid-item3 {
  grid-column: 1;
  grid-row: 2;
}

.grid-item4 {
  grid-column: 2;
  grid-row: 2;
}

.grid-item5 {
  grid-column: 1;
  grid-row: 3;
}

.grid-item6 {
  grid-column: 2;
  grid-row: 3;
}

.grid-item7 {
  grid-column: 1;
  grid-row: 4;
}

.grid-item8 {
  grid-column: 2;
  grid-row: 4;
}

.grid-wide {
  grid-column-start: 1 !important;
  grid-column-end: 3 !important;
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-heading);
}

/* Media Queries */
/* Small screens */
@media only screen and (max-width: 600px) {
  .grid-container {
    row-gap: 1.5rem;
    column-gap: 0;
  }

  .grid-item1 {
    grid-column: 1;
    grid-row: 1;
  }

  .grid-item2 {
    grid-column: 1;
    grid-row: 2;
  }

  .grid-item3 {
    grid-column: 1;
    grid-row: 3;
  }

  .grid-item4 {
    grid-column: 1;
    grid-row: 4;
  }

  .grid-item5 {
    grid-column: 1;
    grid-row: 5;
  }

  .grid-item6 {
    grid-column: 1;
    grid-row: 6;
  }
}
