:root {
    --rgbCyan: 139, 233, 253;
    --rgbGreen: 80, 250, 123;
    --rgbOrange: 255, 184, 108;
    --rgbPink: 255, 121, 198;
    --rgbPurple: 189, 147, 249;
    --rgbYellow: 241, 250, 140;
    --rgbBackground: 40, 42, 54;
    --rgbForeground: 248, 248, 242;
  
    --sansSerif: 'font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif';
    --serif: 'Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol';
    --mono: 'Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace';
  
    --alpha: 0.7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(var(--rgbBackground));
    color: rgb(var(--rgbForeground));
    font-family: var(--sansSerif);
    font-weight: 300;
}

.title {
    margin-top: 0;
    margin-bottom: 0.4rem;
    font-size: 72px;
    text-align: center;
    font-family: var(--serif);
    font-weight: 700;
    height: 100px;
    color: rgb(var(--rgbPink));
}

.subtitle {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    min-height: 36px;
}

.custom-shape-divider-top-1670842612 {
    margin-top: 0;
    padding-top: 0;
    margin-left: 5rem;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1670842612 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 67px;
}

.custom-shape-divider-top-1670842612 .shape-fill {
    fill: #383A59;
}

header {
    background-color: #383A59;
}

main {
    margin-left: 5rem;
    aspect-ratio: 900/600;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/images/bot-waves-pc.svg');
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(var(--rgbBackground));
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(var(--rgbPink));
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--rgbPurple));
}