.navbar {
    background-color: rgb(var(--rgbBackground));
    width: 5rem;
    height: 100vh;
    position: fixed;
}

.navbar-nav{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}